BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; MARGIN-LEFT: 1.5em; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: lucidabright, times, times new roman, serif; BACKGROUND-COLOR: #ffffe0
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #dd3333; FONT-FAMILY: lucidabright, times, times new roman, serif; BACKGROUND-COLOR: #ffffe0
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: lucidabright, times, times new roman, serif; BACKGROUND-COLOR: #ffffe0
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #000000; FONT-FAMILY: lucidabright, times, times new roman, serif; BACKGROUND-COLOR: #ffffe0
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; FONT-STYLE: normal; FONT-FAMILY: lucidabright, times, times new roman, serif; TEXT-DECORATION: none
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: lucidabright, times, times new roman, serif
}
TR {
	
}
TABLE {
	BACKGROUND-COLOR: #ffffe0
}
UL {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: lucidabright, times, times new roman, serif; BACKGROUND-COLOR: #ffffe0
}
OL {
	BACKGROUND-COLOR: #ffffe0
}
LI {
	COLOR: #000000
}
BLOCKQUOTE {
	FONT-SIZE: 10pt
}
TT {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: lucidatypewriter, courier, terminal
}
CODE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: lucidatypewriter, courier, terminal
}
PRE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; MARGIN-RIGHT: 1em; FONT-STYLE: normal; FONT-FAMILY: lucidatypewriter, courier, terminal; BACKGROUND-COLOR: #ffeebb
}
PRE.html {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; MARGIN-RIGHT: 1em; FONT-STYLE: normal; FONT-FAMILY: lucidatypewriter, courier, terminal; BACKGROUND-COLOR: #ffeebb
}
PRE.java {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; MARGIN-LEFT: 1em; COLOR: #000000; MARGIN-RIGHT: 1em; FONT-STYLE: normal; FONT-FAMILY: lucidatypewriter, courier, terminal; BACKGROUND-COLOR: #ffeebb
}
PRE.shell {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; MARGIN-LEFT: 1em; COLOR: #000000; MARGIN-RIGHT: 1em; FONT-STYLE: normal; FONT-FAMILY: lucidatypewriter, courier, terminal; BACKGROUND-COLOR: #ffeebb
}
A:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ab00ab; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffeebb; BACKGROUND-COLOR: #000000; TEXT-DECORATION: none
}
STRONG {
	COLOR: #ffff00
}
I {
	FONT-STYLE: italic
}
B {
	FONT-WEIGHT: bold
}
ADDRESS {
	
}
